*{
    margin:0;
    padding: 0;  
}

html{
    scroll-behavior: smooth;
}

nav a{
    text-decoration: none;
}

nav a:visited, a:link{
    color: #FFF;
    text-decoration: none;
}



a:hover{
    cursor: pointer;
}

.nav_toggle{
    display: none;
}

body{
    overflow-x: hidden;
}
/* NAV BAR SECTION */ 

.logo{
    height: 23px;
    width: 25px;
    padding-right: 15px; 
    display: inline-block;
    padding-left: 15px;
}

nav{
    display: flex;
    padding: 10px;
    background-color: black;
    font-family: 'Lato', sans-serif; 
    font-weight: 500;
}

nav p{
    font-family: 'Lato', sans-serif; 
    font-weight: 500;
}

.name{
    margin-right: auto;
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif; 
    color: #FFF;
    
}

.nav_bar{
    display: flex;
    
}

.nav_bar li{
    padding: 15px;
    list-style-type: none;
    font-size: 14px;
    color: #FFF;
    text-decoration: none;
    
}

h1{
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif; 
    font-weight: 300;
    letter-spacing: 3px;
    text-align: center;
    font-size:30px;
}

/*/ INTRO SECTION /*/ 

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(./Resources/background.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    height: 650px;
}

.intro_overlay{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 650px;
}

.intro_content{
    text-align: center;
    padding: 150px;
    margin-top: 100px;
    
    
}

.intro_content h1{
    font-size: 60px;
    margin-bottom: 25px;
    font-family: 'Lato', sans-serif; 
    font-weight:300;
    letter-spacing: 3px;
    color: #FFF;
}

.intro_content p{
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
}

/* ABOUT ME SECTION */ 

.about{
    display:flex; 
    justify-content: center;
    align-items: center;
    padding:90px 0px 100px;
}

.about_container{
    text-align: center;
}

.about_container h1{
    margin-bottom: 30px;

}

#profile-pic{
    width:170px; 
    height: auto;
    border-radius: 30%;
    
}

.about_container p{
    margin-top: 15px; 
    width: 700px; 
    height: auto;
    font-family:'Roboto Slab', serif; 
    font-weight: 200;
    line-height: 1.7;
}

/* experience section */

.experience{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F0F0F0;
}

.experience_container p{
    font-family:'Roboto Slab', serif; 
    font-weight: 200;
    line-height: 1.7;
    text-align: center;
    padding-bottom: 40px;
}

.experience_container h3{
    font-family: 'Lato', sans-serif; 
    letter-spacing: 3px;
    text-align: center;
    padding-bottom: 40px;
    font-weight: 300;
}
.experience_icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.experience_icons i{
    padding-right: 40px;
}

/* Projects section */ 

.projects{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 10px;
}

.projects h1{
 padding-bottom: 15px;
 
}
.projects p{
text-align: center;
padding-bottom:20px;
font-family:'Roboto Slab', serif; 
font-weight: 200;


}

.img_container{
    display:flex;
}

.img_container img{
    width: 360px;
    height: 190px;
    padding-right:10px;
}

.item_overlay1, .item_overlay2, .item_overlay3{
    position: relative;
    height: 100%;
    width: 100%;
}


.overlay1 p , .overlay2 p, .overlay3 p{
    color: white;
    text-align: center;
    padding-top:90px;
    font-size: 24px;
    margin-bottom: 25px;
    font-family: 'Lato', sans-serif; 
    font-weight:300;
    letter-spacing: 3px;
    color: #FFF;
}

.item_overlay1:hover .overlay1,
.item_overlay2:hover .overlay2,
.item_overlay3:hover .overlay3{
    opacity:0.8 ;
    opacity:0.8;
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    width: 360px;
    height: 190px;
    background-color: rgb(0,0,0,0.5);
    cursor:pointer;
}

/* contact section*/
.contact{
    padding-top:50px;
    padding-bottom: 70px;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_container i{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

p{
    font-family:'Roboto Slab', serif; 
    font-weight: 200;
    text-align: center;
    list-style-type: 1.7;
}

.contact_container p{
    padding-bottom:40px ;
}

#email_button{
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    border: #000 2px solid;
    font-weight: 300;
    
}

#email_button:hover{
    background-color: navy;
    color: white;
}

/* footer */

footer{
    background-color: #222222;
}

.footer_container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer i{    
    padding: 10px;
    margin-right: 5px;
    color:#F0F0F0;
    background-color: #333333;
}

footer p{
    color: #AAAAAA;
    padding: 0px 0px 25px;
    font-size: 14px;
}

/* MODAL SECTION */

h4{
    font-size: 18px;
    font-family: 'Lato', 'Sans-serif'; 
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300px;
    text-align: center;
    padding-right: 20px;
}

.modal1, .modal2, .modal3{
    margin: 0 0 0 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0px 3px 9px rgba(0,0,0,0.5) ;
    z-index: 1000;
    outline: 0;
    background-color: none;
    height: fit-content;
    width: 700px;
}

.modal_body{
    padding: 15px
}

.modal_header, .modal_footer{
    background-color: #F0F0F0;
    width: 100%;
    
}

.modal_header{
    padding: 20px 0px;
    
}


.modal_img_container img{
    display: block;
    width: 90%;
    height: auto;
    width: 100%;
    margin: 0;
}

.modal_body p{
    margin: 0px 25px;
    padding:20px 0px;
}    

#visit_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#visit{
    border: 2px solid;
    margin: 10px 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#visit:hover{
    background-color: navy;
    color: white;
    cursor: pointer;
}

.modal_footer{
    padding: 20px 0px;
    text-align: right;
    
}
.modal_footer button{
    padding:6px 12px;
    margin-right: 15px;
    margin-top:5px;
    margin-bottom: 5px;
    border: 1px solid #CCC; 
    font-family: 'Lato' 'sans-serif';
    background-color: #FFF;
    
}

.modal_footer button:hover{
    background-color: #CCC;
    cursor: pointer;
}


#visit_link,
#visit_link:visited,
#visit_link:link{
text-decoration: none;
outline: none;
color: inherit;
}

@media (max-width:1029px){

    .img_container{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .item_overlay1,.item_overlay2,.item_overlay3{
        width: 360px;
        position: relative;
        margin: 10px;
    }

    .img_container img{
        width: 100%;
        height: auto;
        padding-right:10px;
        display: block;
        margin: auto;
    }

    .overlay1,.overlay2,.overlay3{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left: 0;
        opacity: 0;
        justify-content: center;
        align-items: center;
        background: rgb(0,0,0,0.5);
    
   }
   
   .item_overlay1:hover .overlay1,
   .item_overlay2:hover .overlay2,
   .item_overlay3:hover .overlay3{
    cursor: pointer;
    opacity: 1;
    z-index: 1;
   }

   .intro_content {
    padding: 50px;
    margin-top:200px;
   }

   .about_container p{
    width: 80%;
    margin-left:10%;
    margin-right: 10%;
   }
   .experience_icons{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
}

@media (max-width:593px){
    
    body p{
        font-size: 12px;
    }

    nav li a{
        font-size: 12px
    }
    .logo{
        height: 19px;
        width: 22px;
        padding-right: 15px; 
        display: inline-block;
        padding-left: 15px;
    }

    .name p{
        font-size: 12px;
    }
    
    .overlay1,.overlay2,.overlay3{
        opacity: 1;
    }
    .intro_content h1{
        font-size: 45px;
    }
}


@media (max-width:376px){
    .img_container img{
        width: 260px;
        height: auto;
        padding-right:10px;
    }
    .item_overlay1,.item_overlay2,.item_overlay3{
        width:260px;
        height: auto;
    }
    .overlay1 p,.overlay2 p,.overlay3 p{
        font-size: 18px;
    }
    .overlay1,.overlay2,.overlay3{
        height: 135px;
        width: 260px;
    }

    .modal1, .modal2, .modal3{
        width: 350px;
    }

    
}

@media (max-width: 35em){
    .nav_bar{
        position: fixed;
        inset: 0 0 0 30%; 
        background-color:  hsl(0, 0%, 100% 0.1);
        backdrop-filter: blur(1rem);
        flex-direction: column;
        padding-top: min(30vh, 10rem) 2rem;
        z-index: 1000;

        transform: translateX(100%);
        transition:transform 250ms  ease-out;
    }

    .nav_bar li{
        margin-top: 40px;
        margin-right: 20px;
    }

    .nav_toggle{
        width:2rem;
        height: 2rem;
        background-color: transparent;
        z-index: 9999;
        border: 0;
        display: block;
    }
    .nav_bar[data-visible="true"]{
        transform:translateX(0%)
    }

    @media (max-width: 437px){
        .intro_content h1 {
            font-size: 30px;
        }

    h1{
        font-size: 30px;
    }
    
    .experience_icons i{
        padding: 20px;
    }

    }
    
    @media (max-width:320px)   {
        .img_container img{
            width: 260px;
            height: auto;
            padding-right:10px;
        }
        .item_overlay1,.item_overlay2,.item_overlay3{
            width: 260px;
            height: auto;
        }
        .overlay1 p,.overlay2 p,.overlay3 p{
            font-size: 14px;
        }
        .overlay1,.overlay2,.overlay3{
            height: 135px;
            width: 260px;
        }
    
        .modal1, .modal2, .modal3{
            width: 300px;
        }
    }
}